In [2]:
import pandas as pd
import numpy as np
np.random.seed(101)
my_data=np.random.randint(0,101,(4,3))
print(my_data)

[[95 11 81]
 [70 63 87]
 [75  9 77]
 [40  4 63]]

In [3]:
myindex=["CA","NY","AZ","TX"]
mycolumns=["Jan","Feb","Mar"]
df = pd.DataFrame(data=my_data)
print(df)

    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63

In [4]:
df = pd.DataFrame(data=my_data,index=myindex)
print(df)

     0   1   2
CA  95  11  81
NY  70  63  87
AZ  75   9  77
TX  40   4  63

In [5]:
df = pd.DataFrame(data=my_data,index=myindex,columns=mycolumns)
print(df)

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [18]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 243 entries, Sun4608 to Thur672
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   total_bill        243 non-null    float64
 1   tip               243 non-null    float64
 2   gender            243 non-null    object
 3   smoker            243 non-null    object
 4   day               243 non-null    object
 5   time              243 non-null    object
 6   size              243 non-null    int64
 7   price_per_person  243 non-null    float64
 8   Payer Name        243 non-null    object
 9   CC Number         243 non-null    float64
dtypes: float64(4), int64(1), object(5)
memory usage: 29.0+ KB
None

In [19]:
df= pd.read_csv("tips.csv")
df

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5.296070e+15,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3.506810e+15,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6.011890e+15,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4.375220e+12,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3.511450e+15,Thur672

In [20]:
print(df.iloc[0])

total_bill                       16.99
tip                               1.01
gender                          Female
smoker                              No
day                                Sun
time                            Dinner
size                                 2
price_per_person                  8.49
Payer Name          Christy Cunningham
CC Number           3560330000000000.0
Payment ID                     Sun2959
Name: 0, dtype: object

In [21]:
df=df.set_index('Payment ID')
print(df.loc['Sun2959'])

total_bill                       16.99
tip                               1.01
gender                          Female
smoker                              No
day                                Sun
time                            Dinner
size                                 2
price_per_person                  8.49
Payer Name          Christy Cunningham
CC Number           3560330000000000.0
Name: Sun2959, dtype: object

In [22]:
print(df.head())

            total_bill   tip  gender smoker  day    time  size  \
Payment ID
Sun2959          16.99  1.01  Female     No  Sun  Dinner     2
Sun4608          10.34  1.66    Male     No  Sun  Dinner     3
Sun4458          21.01  3.50    Male     No  Sun  Dinner     3
Sun5260          23.68  3.31    Male     No  Sun  Dinner     2
Sun2251          24.59  3.61  Female     No  Sun  Dinner     4

            price_per_person          Payer Name     CC Number
Payment ID
Sun2959                 8.49  Christy Cunningham  3.560330e+15
Sun4608                 3.45      Douglas Tucker  4.478070e+15
Sun4458                 7.00      Travis Walters  6.011810e+15
Sun5260                11.84    Nathaniel Harris  4.676140e+15
Sun2251                 6.15        Tonya Carter  4.832730e+15

In [23]:
df=df.drop('Sun2959',axis=0)
print(df.head())

            total_bill   tip  gender smoker  day    time  size  \
Payment ID
Sun4608          10.34  1.66    Male     No  Sun  Dinner     3
Sun4458          21.01  3.50    Male     No  Sun  Dinner     3
Sun5260          23.68  3.31    Male     No  Sun  Dinner     2
Sun2251          24.59  3.61  Female     No  Sun  Dinner     4
Sun9679          25.29  4.71    Male     No  Sun  Dinner     4

            price_per_person        Payer Name     CC Number
Payment ID
Sun4608                 3.45    Douglas Tucker  4.478070e+15
Sun4458                 7.00    Travis Walters  6.011810e+15
Sun5260                11.84  Nathaniel Harris  4.676140e+15
Sun2251                 6.15      Tonya Carter  4.832730e+15
Sun9679                 6.32        Erik Smith  2.131400e+14

In [24]:
df['total_bill']>30

Payment ID
Sun4608    False
Sun4458    False
Sun5260    False
Sun2251    False
Sun9679    False
           ...
Sat2657    False
Sat1766    False
Sat3880    False
Sat17      False
Thur672    False
Name: total_bill, Length: 243, dtype: bool

In [25]:
df['total_bill']<30

Payment ID
Sun4608    True
Sun4458    True
Sun5260    True
Sun2251    True
Sun9679    True
           ...
Sat2657    True
Sat1766    True
Sat3880    True
Sat17      True
Thur672    True
Name: total_bill, Length: 243, dtype: bool

In [28]:
bool_series=df['total_bill']>30
print(bool_series)

Payment ID
Sun4608    False
Sun4458    False
Sun5260    False
Sun2251    False
Sun9679    False
           ...
Sat2657    False
Sat1766    False
Sat3880    False
Sat17      False
Thur672    False
Name: total_bill, Length: 243, dtype: bool

In [29]:
print(df[bool_series])

            total_bill    tip  gender smoker   day    time  size  \
Payment ID
Sun6686          35.26   5.00  Female     No   Sun  Dinner     4
Sat239           39.42   7.58    Male     No   Sat  Dinner     4
Sat6373          31.27   5.00    Male     No   Sat  Dinner     3
Sun2274          30.40   5.60    Male     No   Sun  Dinner     4
Sun9677          32.40   6.00    Male     No   Sun  Dinner     4
Sun6165          34.81   5.20  Female     No   Sun  Dinner     4
Sat8903          38.01   3.00    Male    Yes   Sat  Dinner     4
Sat8139          48.27   6.73    Male     No   Sat  Dinner     4
Thur8801         32.68   5.00    Male    Yes  Thur   Lunch     2
Thur7972         34.83   5.17  Female     No  Thur   Lunch     4
Fri9628          40.17   4.73    Male    Yes   Fri  Dinner     4
Sat6240          44.30   2.50  Female    Yes   Sat  Dinner     3
Sun591           38.07   4.00    Male     No   Sun  Dinner     3
Thur1025         34.30   6.70    Male     No  Thur   Lunch     6
Thur3621         41.19   5.00    Male     No  Thur   Lunch     5
Sun7518          48.17   5.00    Male     No   Sun  Dinner     6
Sun3719          31.71   4.50    Male     No   Sun  Dinner     4
Sat1954          50.81  10.00    Male    Yes   Sat  Dinner     3
Sun9335          31.85   3.18    Male    Yes   Sun  Dinner     2
Sun5109          32.90   3.11    Male    Yes   Sun  Dinner     2
Sun9851          34.63   3.55    Male    Yes   Sun  Dinner     2
Sun7544          34.65   3.68    Male    Yes   Sun  Dinner     4
Sun2337          45.35   3.50    Male    Yes   Sun  Dinner     3
Sun5140          40.55   3.00    Male    Yes   Sun  Dinner     2
Sun9987          30.46   2.00    Male    Yes   Sun  Dinner     5
Thur9313         43.11   5.00  Female    Yes  Thur   Lunch     4
Sat4505          38.73   3.00    Male    Yes   Sat  Dinner     4
Sat8361          30.06   2.00    Male    Yes   Sat  Dinner     3
Sat4590          48.33   9.00    Male     No   Sat  Dinner     4
Sat8863          30.14   3.09  Female    Yes   Sat  Dinner     4
Sat2929          32.83   1.17    Male    Yes   Sat  Dinner     2
Sat9777          35.83   4.67  Female     No   Sat  Dinner     3

            price_per_person             Payer Name     CC Number
Payment ID
Sun6686                 8.82           Diane Macias  4.577820e+15
Sat239                  9.86         Lance Peterson  3.542580e+15
Sat6373                10.42      Mr. Brandon Berry  6.011530e+15
Sun2274                 7.60            Todd Cooper  5.038470e+11
Sun9677                 8.10           James Barnes  3.552000e+15
Sun6165                 8.70           Emily Daniel  4.291280e+15
Sat8903                 9.50  James Christensen DDS  3.497940e+14
Sat8139                12.07            Brian Ortiz  6.596450e+15
Thur8801               16.34          Daniel Murphy  5.356180e+15
Thur7972                8.71            Shawna Cook  6.011790e+15
Fri9628                10.04          Aaron Bentley  1.800270e+14
Sat6240                14.77          Heather Cohen  3.797710e+14
Sun591                 12.69             Jeff Lopez  3.572870e+15
Thur1025                5.72         Steven Carlson  3.526520e+15
Thur3621                8.24           Eric Andrews  4.356530e+15
Sun7518                 8.03          Ryan Gonzales  3.523150e+15
Sun3719                 7.93         Michael Lawson  3.566290e+15
Sat1954                16.94          Gregory Clark  5.473850e+15
Sun9335                15.92            Scott Perez  3.577120e+15
Sun5109                16.45        Nathan Reynolds  3.703070e+14
Sun9851                17.32           Brian Bailey  3.466560e+14
Sun7544                 8.66       James Hebert DDS  6.761690e+11
Sun2337                15.12           Jose Parsons  4.112210e+15
Sun5140                20.27            Stephen Cox  3.547800e+15
Sun9987                 6.09          David Barrett  4.792880e+15
Thur9313               10.78            Brooke Soto  5.544900e+15
Sat4505                 9.68          Ricky Ramirez  3.478180e+14
Sat8361                10.02          Shawn Mendoza  3.018400e+13
Sat4590                12.08        Alex Williamson  6.762190e+11
Sat8863                 7.54           Shelby House  5.020970e+11
Sat2929                16.42           Thomas Brown  4.284720e+15
Sat9777                11.94         Kimberly Crane  6.761840e+11

In [32]:
print(df[df['total_bill']>30])
#print(df[df.total_bill>30)

            total_bill    tip  gender smoker   day    time  size  \
Payment ID
Sun6686          35.26   5.00  Female     No   Sun  Dinner     4
Sat239           39.42   7.58    Male     No   Sat  Dinner     4
Sat6373          31.27   5.00    Male     No   Sat  Dinner     3
Sun2274          30.40   5.60    Male     No   Sun  Dinner     4
Sun9677          32.40   6.00    Male     No   Sun  Dinner     4
Sun6165          34.81   5.20  Female     No   Sun  Dinner     4
Sat8903          38.01   3.00    Male    Yes   Sat  Dinner     4
Sat8139          48.27   6.73    Male     No   Sat  Dinner     4
Thur8801         32.68   5.00    Male    Yes  Thur   Lunch     2
Thur7972         34.83   5.17  Female     No  Thur   Lunch     4
Fri9628          40.17   4.73    Male    Yes   Fri  Dinner     4
Sat6240          44.30   2.50  Female    Yes   Sat  Dinner     3
Sun591           38.07   4.00    Male     No   Sun  Dinner     3
Thur1025         34.30   6.70    Male     No  Thur   Lunch     6
Thur3621         41.19   5.00    Male     No  Thur   Lunch     5
Sun7518          48.17   5.00    Male     No   Sun  Dinner     6
Sun3719          31.71   4.50    Male     No   Sun  Dinner     4
Sat1954          50.81  10.00    Male    Yes   Sat  Dinner     3
Sun9335          31.85   3.18    Male    Yes   Sun  Dinner     2
Sun5109          32.90   3.11    Male    Yes   Sun  Dinner     2
Sun9851          34.63   3.55    Male    Yes   Sun  Dinner     2
Sun7544          34.65   3.68    Male    Yes   Sun  Dinner     4
Sun2337          45.35   3.50    Male    Yes   Sun  Dinner     3
Sun5140          40.55   3.00    Male    Yes   Sun  Dinner     2
Sun9987          30.46   2.00    Male    Yes   Sun  Dinner     5
Thur9313         43.11   5.00  Female    Yes  Thur   Lunch     4
Sat4505          38.73   3.00    Male    Yes   Sat  Dinner     4
Sat8361          30.06   2.00    Male    Yes   Sat  Dinner     3
Sat4590          48.33   9.00    Male     No   Sat  Dinner     4
Sat8863          30.14   3.09  Female    Yes   Sat  Dinner     4
Sat2929          32.83   1.17    Male    Yes   Sat  Dinner     2
Sat9777          35.83   4.67  Female     No   Sat  Dinner     3

            price_per_person             Payer Name     CC Number
Payment ID
Sun6686                 8.82           Diane Macias  4.577820e+15
Sat239                  9.86         Lance Peterson  3.542580e+15
Sat6373                10.42      Mr. Brandon Berry  6.011530e+15
Sun2274                 7.60            Todd Cooper  5.038470e+11
Sun9677                 8.10           James Barnes  3.552000e+15
Sun6165                 8.70           Emily Daniel  4.291280e+15
Sat8903                 9.50  James Christensen DDS  3.497940e+14
Sat8139                12.07            Brian Ortiz  6.596450e+15
Thur8801               16.34          Daniel Murphy  5.356180e+15
Thur7972                8.71            Shawna Cook  6.011790e+15
Fri9628                10.04          Aaron Bentley  1.800270e+14
Sat6240                14.77          Heather Cohen  3.797710e+14
Sun591                 12.69             Jeff Lopez  3.572870e+15
Thur1025                5.72         Steven Carlson  3.526520e+15
Thur3621                8.24           Eric Andrews  4.356530e+15
Sun7518                 8.03          Ryan Gonzales  3.523150e+15
Sun3719                 7.93         Michael Lawson  3.566290e+15
Sat1954                16.94          Gregory Clark  5.473850e+15
Sun9335                15.92            Scott Perez  3.577120e+15
Sun5109                16.45        Nathan Reynolds  3.703070e+14
Sun9851                17.32           Brian Bailey  3.466560e+14
Sun7544                 8.66       James Hebert DDS  6.761690e+11
Sun2337                15.12           Jose Parsons  4.112210e+15
Sun5140                20.27            Stephen Cox  3.547800e+15
Sun9987                 6.09          David Barrett  4.792880e+15
Thur9313               10.78            Brooke Soto  5.544900e+15
Sat4505                 9.68          Ricky Ramirez  3.478180e+14
Sat8361                10.02          Shawn Mendoza  3.018400e+13
Sat4590                12.08        Alex Williamson  6.762190e+11
Sat8863                 7.54           Shelby House  5.020970e+11
Sat2929                16.42           Thomas Brown  4.284720e+15
Sat9777                11.94         Kimberly Crane  6.761840e+11

In [33]:
print(df[df['gender']=='Male'])

            total_bill   tip gender smoker  day    time  size  \
Payment ID
Sun4608          10.34  1.66   Male     No  Sun  Dinner     3
Sun4458          21.01  3.50   Male     No  Sun  Dinner     3
Sun5260          23.68  3.31   Male     No  Sun  Dinner     2
Sun9679          25.29  4.71   Male     No  Sun  Dinner     4
Sun5985           8.77  2.00   Male     No  Sun  Dinner     2
...                ...   ...    ...    ...  ...     ...   ...
Sat5032          12.60  1.00   Male    Yes  Sat  Dinner     2
Sat2929          32.83  1.17   Male    Yes  Sat  Dinner     2
Sat2657          29.03  5.92   Male     No  Sat  Dinner     3
Sat3880          22.67  2.00   Male    Yes  Sat  Dinner     2
Sat17            17.82  1.75   Male     No  Sat  Dinner     2

            price_per_person          Payer Name     CC Number
Payment ID
Sun4608                 3.45      Douglas Tucker  4.478070e+15
Sun4458                 7.00      Travis Walters  6.011810e+15
Sun5260                11.84    Nathaniel Harris  4.676140e+15
Sun9679                 6.32          Erik Smith  2.131400e+14
Sun5985                 4.38  Kristopher Johnson  2.223730e+15
...                      ...                 ...           ...
Sat5032                 6.30       Matthew Myers  3.543680e+15
Sat2929                16.42        Thomas Brown  4.284720e+15
Sat2657                 9.68       Michael Avila  5.296070e+15
Sat3880                11.34          Keith Wong  6.011890e+15
Sat17                   8.91        Dennis Dixon  4.375220e+12

[157 rows x 10 columns]

In [36]:
df_new = df[(df['total_bill']>30)&(df['gender']=='Male')]
print(df_new)

            total_bill    tip gender smoker   day    time  size  \
Payment ID
Sat239           39.42   7.58   Male     No   Sat  Dinner     4
Sat6373          31.27   5.00   Male     No   Sat  Dinner     3
Sun2274          30.40   5.60   Male     No   Sun  Dinner     4
Sun9677          32.40   6.00   Male     No   Sun  Dinner     4
Sat8903          38.01   3.00   Male    Yes   Sat  Dinner     4
Sat8139          48.27   6.73   Male     No   Sat  Dinner     4
Thur8801         32.68   5.00   Male    Yes  Thur   Lunch     2
Fri9628          40.17   4.73   Male    Yes   Fri  Dinner     4
Sun591           38.07   4.00   Male     No   Sun  Dinner     3
Thur1025         34.30   6.70   Male     No  Thur   Lunch     6
Thur3621         41.19   5.00   Male     No  Thur   Lunch     5
Sun7518          48.17   5.00   Male     No   Sun  Dinner     6
Sun3719          31.71   4.50   Male     No   Sun  Dinner     4
Sat1954          50.81  10.00   Male    Yes   Sat  Dinner     3
Sun9335          31.85   3.18   Male    Yes   Sun  Dinner     2
Sun5109          32.90   3.11   Male    Yes   Sun  Dinner     2
Sun9851          34.63   3.55   Male    Yes   Sun  Dinner     2
Sun7544          34.65   3.68   Male    Yes   Sun  Dinner     4
Sun2337          45.35   3.50   Male    Yes   Sun  Dinner     3
Sun5140          40.55   3.00   Male    Yes   Sun  Dinner     2
Sun9987          30.46   2.00   Male    Yes   Sun  Dinner     5
Sat4505          38.73   3.00   Male    Yes   Sat  Dinner     4
Sat8361          30.06   2.00   Male    Yes   Sat  Dinner     3
Sat4590          48.33   9.00   Male     No   Sat  Dinner     4
Sat2929          32.83   1.17   Male    Yes   Sat  Dinner     2

            price_per_person             Payer Name     CC Number
Payment ID
Sat239                  9.86         Lance Peterson  3.542580e+15
Sat6373                10.42      Mr. Brandon Berry  6.011530e+15
Sun2274                 7.60            Todd Cooper  5.038470e+11
Sun9677                 8.10           James Barnes  3.552000e+15
Sat8903                 9.50  James Christensen DDS  3.497940e+14
Sat8139                12.07            Brian Ortiz  6.596450e+15
Thur8801               16.34          Daniel Murphy  5.356180e+15
Fri9628                10.04          Aaron Bentley  1.800270e+14
Sun591                 12.69             Jeff Lopez  3.572870e+15
Thur1025                5.72         Steven Carlson  3.526520e+15
Thur3621                8.24           Eric Andrews  4.356530e+15
Sun7518                 8.03          Ryan Gonzales  3.523150e+15
Sun3719                 7.93         Michael Lawson  3.566290e+15
Sat1954                16.94          Gregory Clark  5.473850e+15
Sun9335                15.92            Scott Perez  3.577120e+15
Sun5109                16.45        Nathan Reynolds  3.703070e+14
Sun9851                17.32           Brian Bailey  3.466560e+14
Sun7544                 8.66       James Hebert DDS  6.761690e+11
Sun2337                15.12           Jose Parsons  4.112210e+15
Sun5140                20.27            Stephen Cox  3.547800e+15
Sun9987                 6.09          David Barrett  4.792880e+15
Sat4505                 9.68          Ricky Ramirez  3.478180e+14
Sat8361                10.02          Shawn Mendoza  3.018400e+13
Sat4590                12.08        Alex Williamson  6.762190e+11
Sat2929                16.42           Thomas Brown  4.284720e+15

In [37]:
df_new = df[(df['total_bill']>30)&~(df['gender']=='Male')]
print(df_new)

            total_bill   tip  gender smoker   day    time  size  \
Payment ID
Sun6686          35.26  5.00  Female     No   Sun  Dinner     4
Sun6165          34.81  5.20  Female     No   Sun  Dinner     4
Thur7972         34.83  5.17  Female     No  Thur   Lunch     4
Sat6240          44.30  2.50  Female    Yes   Sat  Dinner     3
Thur9313         43.11  5.00  Female    Yes  Thur   Lunch     4
Sat8863          30.14  3.09  Female    Yes   Sat  Dinner     4
Sat9777          35.83  4.67  Female     No   Sat  Dinner     3

            price_per_person      Payer Name     CC Number
Payment ID
Sun6686                 8.82    Diane Macias  4.577820e+15
Sun6165                 8.70    Emily Daniel  4.291280e+15
Thur7972                8.71     Shawna Cook  6.011790e+15
Sat6240                14.77   Heather Cohen  3.797710e+14
Thur9313               10.78     Brooke Soto  5.544900e+15
Sat8863                 7.54    Shelby House  5.020970e+11
Sat9777                11.94  Kimberly Crane  6.761840e+11

In [39]:
df_new = df[(df['total_bill']>30)&(df['gender']!='Male')]
print(df_new)

            total_bill   tip  gender smoker   day    time  size  \
Payment ID
Sun6686          35.26  5.00  Female     No   Sun  Dinner     4
Sun6165          34.81  5.20  Female     No   Sun  Dinner     4
Thur7972         34.83  5.17  Female     No  Thur   Lunch     4
Sat6240          44.30  2.50  Female    Yes   Sat  Dinner     3
Thur9313         43.11  5.00  Female    Yes  Thur   Lunch     4
Sat8863          30.14  3.09  Female    Yes   Sat  Dinner     4
Sat9777          35.83  4.67  Female     No   Sat  Dinner     3

            price_per_person      Payer Name     CC Number
Payment ID
Sun6686                 8.82    Diane Macias  4.577820e+15
Sun6165                 8.70    Emily Daniel  4.291280e+15
Thur7972                8.71     Shawna Cook  6.011790e+15
Sat6240                14.77   Heather Cohen  3.797710e+14
Thur9313               10.78     Brooke Soto  5.544900e+15
Sat8863                 7.54    Shelby House  5.020970e+11
Sat9777                11.94  Kimberly Crane  6.761840e+11

In [45]:
df_new = df[(df['total_bill']>40)|(df['tip']>5)]
print(df_new)

            total_bill    tip  gender smoker   day    time  size  \
Payment ID
Sat239           39.42   7.58    Male     No   Sat  Dinner     4
Sun2274          30.40   5.60    Male     No   Sun  Dinner     4
Sun9677          32.40   6.00    Male     No   Sun  Dinner     4
Sun6165          34.81   5.20  Female     No   Sun  Dinner     4
Sat8139          48.27   6.73    Male     No   Sat  Dinner     4
Thur7972         34.83   5.17  Female     No  Thur   Lunch     4
Thur9003         24.71   5.85    Male     No  Thur   Lunch     2
Fri9628          40.17   4.73    Male    Yes   Fri  Dinner     4
Sat6240          44.30   2.50  Female    Yes   Sat  Dinner     3
Sun22            29.93   5.07    Male     No   Sun  Dinner     4
Thur1025         34.30   6.70    Male     No  Thur   Lunch     6
Thur3621         41.19   5.00    Male     No  Thur   Lunch     5
Sun9176          29.85   5.14  Female     No   Sun  Dinner     5
Sun7518          48.17   5.00    Male     No   Sun  Dinner     6
Sat1954          50.81  10.00    Male    Yes   Sat  Dinner     3
Sun9209           7.25   5.15    Male    Yes   Sun  Dinner     2
Sun3402          23.33   5.65    Male    Yes   Sun  Dinner     2
Sun2337          45.35   3.50    Male    Yes   Sun  Dinner     3
Sun6059          23.17   6.50    Male    Yes   Sun  Dinner     4
Sun5140          40.55   3.00    Male    Yes   Sun  Dinner     2
Thur9313         43.11   5.00  Female    Yes  Thur   Lunch     4
Sat6735          25.89   5.16    Male    Yes   Sat  Dinner     4
Sat4590          48.33   9.00    Male     No   Sat  Dinner     4
Sat3374          28.17   6.50  Female    Yes   Sat  Dinner     3
Sat2657          29.03   5.92    Male     No   Sat  Dinner     3

            price_per_person         Payer Name     CC Number
Payment ID
Sat239                  9.86     Lance Peterson  3.542580e+15
Sun2274                 7.60        Todd Cooper  5.038470e+11
Sun9677                 8.10       James Barnes  3.552000e+15
Sun6165                 8.70       Emily Daniel  4.291280e+15
Sat8139                12.07        Brian Ortiz  6.596450e+15
Thur7972                8.71        Shawna Cook  6.011790e+15
Thur9003               12.36       Roger Taylor  4.410250e+12
Fri9628                10.04      Aaron Bentley  1.800270e+14
Sat6240                14.77      Heather Cohen  3.797710e+14
Sun22                   7.48        Shawn Blake  4.689080e+15
Thur1025                5.72     Steven Carlson  3.526520e+15
Thur3621                8.24       Eric Andrews  4.356530e+15
Sun9176                 5.97     Madison Wilson  4.210880e+15
Sun7518                 8.03      Ryan Gonzales  3.523150e+15
Sat1954                16.94      Gregory Clark  5.473850e+15
Sun9209                 3.62        Larry White  3.043260e+13
Sun3402                11.66          Jason Cox  6.556930e+15
Sun2337                15.12       Jose Parsons  4.112210e+15
Sun6059                 5.79  Dr. Michael James  4.718500e+12
Sun5140                20.27        Stephen Cox  3.547800e+15
Thur9313               10.78        Brooke Soto  5.544900e+15
Sat6735                 6.47     Christopher Li  6.011960e+15
Sat4590                12.08    Alex Williamson  6.762190e+11
Sat3374                 9.39    Marissa Jackson  4.922300e+15
Sat2657                 9.68      Michael Avila  5.296070e+15

In [47]:
options = ["Sat","Sun"]
print(df['day'].isin(options))

Payment ID
Sun4608     True
Sun4458     True
Sun5260     True
Sun2251     True
Sun9679     True
           ...
Sat2657     True
Sat1766     True
Sat3880     True
Sat17       True
Thur672    False
Name: day, Length: 243, dtype: bool

In [48]:
print(df[df['day'].isin(["Sat","Sun"])])

            total_bill   tip  gender smoker  day    time  size  \
Payment ID
Sun4608          10.34  1.66    Male     No  Sun  Dinner     3
Sun4458          21.01  3.50    Male     No  Sun  Dinner     3
Sun5260          23.68  3.31    Male     No  Sun  Dinner     2
Sun2251          24.59  3.61  Female     No  Sun  Dinner     4
Sun9679          25.29  4.71    Male     No  Sun  Dinner     4
...                ...   ...     ...    ...  ...     ...   ...
Sat9777          35.83  4.67  Female     No  Sat  Dinner     3
Sat2657          29.03  5.92    Male     No  Sat  Dinner     3
Sat1766          27.18  2.00  Female    Yes  Sat  Dinner     2
Sat3880          22.67  2.00    Male    Yes  Sat  Dinner     2
Sat17            17.82  1.75    Male     No  Sat  Dinner     2

            price_per_person        Payer Name     CC Number
Payment ID
Sun4608                 3.45    Douglas Tucker  4.478070e+15
Sun4458                 7.00    Travis Walters  6.011810e+15
Sun5260                11.84  Nathaniel Harris  4.676140e+15
Sun2251                 6.15      Tonya Carter  4.832730e+15
Sun9679                 6.32        Erik Smith  2.131400e+14
...                      ...               ...           ...
Sat9777                11.94    Kimberly Crane  6.761840e+11
Sat2657                 9.68     Michael Avila  5.296070e+15
Sat1766                13.59    Monica Sanders  3.506810e+15
Sat3880                11.34        Keith Wong  6.011890e+15
Sat17                   8.91      Dennis Dixon  4.375220e+12

[162 rows x 10 columns]

In [50]:
print(df.sort_values("tip"))

            total_bill    tip  gender smoker   day    time  size  \
Payment ID
Sat5032          12.60   1.00    Male    Yes   Sat  Dinner     2
Sat4801           7.25   1.00  Female     No   Sat  Dinner     1
Fri3780           5.75   1.00  Female    Yes   Fri  Dinner     2
Sat3455           3.07   1.00  Female    Yes   Sat  Dinner     1
Sat6983          12.90   1.10  Female    Yes   Sat  Dinner     2
...                ...    ...     ...    ...   ...     ...   ...
Thur1025         34.30   6.70    Male     No  Thur   Lunch     6
Sat8139          48.27   6.73    Male     No   Sat  Dinner     4
Sat239           39.42   7.58    Male     No   Sat  Dinner     4
Sat4590          48.33   9.00    Male     No   Sat  Dinner     4
Sat1954          50.81  10.00    Male    Yes   Sat  Dinner     3

            price_per_person       Payer Name     CC Number
Payment ID
Sat5032                 6.30    Matthew Myers  3.543680e+15
Sat4801                 7.25      Terri Jones  3.559220e+15
Fri3780                 2.88     Leah Ramirez  3.508910e+15
Sat3455                 3.07    Tiffany Brock  4.359490e+15
Sat6983                 6.45     Jessica Owen  4.726900e+12
...                      ...              ...           ...
Thur1025                5.72   Steven Carlson  3.526520e+15
Sat8139                12.07      Brian Ortiz  6.596450e+15
Sat239                  9.86   Lance Peterson  3.542580e+15
Sat4590                12.08  Alex Williamson  6.762190e+11
Sat1954                16.94    Gregory Clark  5.473850e+15

[243 rows x 10 columns]

In [52]:
print(df[["total_bill","tip"]].corr())

            total_bill       tip
total_bill    1.000000  0.676901
tip           0.676901  1.000000

In [53]:
print(df["smoker"].value_counts())
print(df["gender"].value_counts())

smoker
No     150
Yes     93
Name: count, dtype: int64
gender
Male      157
Female     86
Name: count, dtype: int64

In [54]:
print(df["size"].unique())
print(df["size"].nunique())
print(df["time"].unique())

[3 2 4 1 6 5]
6
['Dinner' 'Lunch']

In [55]:
print(df["total_bill"].between(10,20,inclusive="both"))

Payment ID
Sun4608     True
Sun4458    False
Sun5260    False
Sun2251    False
Sun9679    False
           ...
Sat2657    False
Sat1766    False
Sat3880    False
Sat17       True
Thur672     True
Name: total_bill, Length: 243, dtype: bool

In [56]:
print(df[df["total_bill"].between(10,20,inclusive="both")])

            total_bill   tip  gender smoker   day    time  size  \
Payment ID
Sun4608          10.34  1.66    Male     No   Sun  Dinner     3
Sun6820          15.04  1.96    Male     No   Sun  Dinner     2
Sun3775          14.78  3.23    Male     No   Sun  Dinner     2
Sun2546          10.27  1.71    Male     No   Sun  Dinner     2
Sun1300          15.42  1.57    Male     No   Sun  Dinner     2
...                ...   ...     ...    ...   ...     ...   ...
Sat7220          15.53  3.00    Male    Yes   Sat  Dinner     2
Sat4615          10.07  1.25    Male     No   Sat  Dinner     2
Sat5032          12.60  1.00    Male    Yes   Sat  Dinner     2
Sat17            17.82  1.75    Male     No   Sat  Dinner     2
Thur672          18.78  3.00  Female     No  Thur  Dinner     2

            price_per_person       Payer Name     CC Number
Payment ID
Sun4608                 3.45   Douglas Tucker  4.478070e+15
Sun6820                 7.52  Joseph Mcdonald  3.522870e+15
Sun3775                 7.39    Jerome Abbott  3.532120e+15
Sun2546                 5.14    William Riley  5.662880e+11
Sun1300                 7.71  Chad Harrington  5.770410e+11
...                      ...              ...           ...
Sat7220                 7.76    Tracy Douglas  4.097940e+15
Sat4615                 5.04    Sean Gonzalez  3.534020e+15
Sat5032                 6.30    Matthew Myers  3.543680e+15
Sat17                   8.91     Dennis Dixon  4.375220e+12
Thur672                 9.39  Michelle Hardin  3.511450e+15

[129 rows x 10 columns]