# Pands Series

In [1]:
import pandas as pd
import numpy as np

In [9]:
#1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.
n=pd.Series([1,2,3,4,5])
print(n)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
#2. Write a Pandas program to convert a Panda module Series to Python list and it's type.
n=list(pd.Series([1,2,3,4,5]))
print(n)
print(type(n))

[1, 2, 3, 4, 5]
<class 'list'>

In [21]:
#3. Write a Pandas program to add, subtract, multiple and divide two PandasSeries.
p1=pd.Series([2,4,6,8])
p2=pd.Series([1,3,5,7])
print("Add\n",p1+p2,"\nSubtract\n",p1-p2,"\nMultiply\n",p1*p2,"\nDivide\n",p1//p2)

Add
 0     3
1     7
2    11
3    15
dtype: int64
Subtract
 0    1
1    1
2    1
3    1
dtype: int64
Multiply
 0     2
1    12
2    30
3    56
dtype: int64
Divide
 0    2
1    1
2    1
3    1
dtype: int64

In [24]:
#4. Write a Pandas program to compare the elements of the two Pandas Series.
p1=pd.Series([2, 4, 6, 8, 10])
p2=pd.Series([1, 3, 5, 7, 10])
print("Two Series equal or not:\n" , p1==p2)
print("2nd Series greater or not:\n" , p1<p2)
print("2nd Series lower or not:\n" , p1>p2)

Two Series equal or not:
 0    False
1    False
2    False
3    False
4     True
dtype: bool
2nd Series greater or not:
 0    False
1    False
2    False
3    False
4    False
dtype: bool
2nd Series lower or not:
 0     True
1     True
2     True
3     True
4    False
dtype: bool

In [32]:
#5. Write a Pandas program to convert a dictionary to a Pandas series.
d={'a':100,'b':200,'c':300,'d':400,'e':800}
print("Original Dictionary is\n",d)
p=pd.Series(d)
print("Converted Series:")
print(p)

Original Dictionary is
 {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted Series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [36]:
#6. Write a Pandas program to convert a NumPy array to a Pandas series.
arr=np.array([10,20,30,40,50])
print("Numpy Array is:   ",arr)
p=pd.Series(arr)
print("Converted Series:")
print(p)

Numpy Array is:    [10 20 30 40 50]
Converted Series:
0    10
1    20
2    30
3    40
4    50
dtype: int32

In [40]:
#7. Write a Pandas program to change the data type of given a column or a Series.
p=pd.Series([100, 200, "Python", 300.12, 400])
print(p)
p1=pd.to_numeric(p,errors='coerce')
print(p1)

0       100
1       200
2    Python
3    300.12
4       400
dtype: object
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [47]:
#8. Write a Pandas program to convert the first column of a DataFrame as a Series.
d={'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1, 11]}
df = pd.DataFrame(d)
print(df)
s=df['col1']
print("First column as a series :")
print(s)
print(type(s))

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11
First column as a series :
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [50]:
# 9. Write a Pandas program to convert a given Series to an array.
p=pd.Series([100, 200, "Python", 300.12, 400])
print(p)
a=np.array(p)
print(a)
print(type(a))

0       100
1       200
2    Python
3    300.12
4       400
dtype: object
[100 200 'Python' 300.12 400]
<class 'numpy.ndarray'>

In [61]:
# 10. Write a Pandas program to convert Series of lists to one Series.
l1=pd.Series([['Red','Green','White'],
             ['Red','Black'],
             ['Yellow']])
print("Original Series of lists")
print(l1)
l=l1.apply(pd.Series).stack().reset_index(drop=True)
print("New Series : ")
print(l)

Original Series of lists
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
New Series :
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [73]:
# 11. Write a Pandas program to sort a given Series.
p=pd.Series(['100', '200', 'Python', '300.12', '400'])
print("Original Series :")
print(p)
p1=pd.Series(p).sort_values()
print("Sorted Series :")
print(p1)

Original Series :
0       100
1       200
2    Python
3    300.12
4       400
dtype: object
Sorted Series :
0       100
1       200
3    300.12
4       400
2    Python
dtype: object

In [76]:
# 12. Write a Pandas program to add some data to an existing Series.
p=pd.Series(['100', '200', 'Python', '300.12', '400'])
print("Original Series :")
print(p)
p1= pd.concat([p, pd.Series([500, "php"])], ignore_index=True)
print("New Series :")
print(p1)

Original Series :
0       100
1       200
2    Python
3    300.12
4       400
dtype: object
New Series :
0       100
1       200
2    Python
3    300.12
4       400
5       500
6       php
dtype: object

In [77]:
# 13. Write a Pandas program to create a subset of a given series based on value and condition.
s = pd.Series([0,1,2,3,4,5,6,7,8,9,10])
print("Original Series:")
print(s)
print("Subset of the above Data Series:")
s1= s[s < 6]
print(s1)

Original Series:
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64
Subset of the above Data Series:
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [78]:
# 14. Write a Pandas program to change the order of index of a given series.
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Data Series:")
print(s)
s = s.reindex(index = ['B','A','C','D','E'])
print("Data Series after changing the order of index:")
print(s)

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

In [79]:
#15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.
s = pd.Series([1,2,3,4,5,6,7,8,9,5,3])
print("Original Series:")
print(s)
print("Mean of Series:")
print(s.mean())
print("Standard deviation of Series:")
print(s.std())

Original Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64
Mean of Series:
4.818181818181818
Standard deviation of Series:
2.522624895547565

In [80]:
#16. Write a Pandas program to get the items of a given series not present in another given series.
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([2, 4, 6, 8, 10])
print("Original Series:")
print("s1:")
print(s1)
print("s2:")
print(s2)
print("\nItems of s1 not present in s2:")
res = s1[~s1.isin(s2)]
print(res)

Original Series:
s1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
s2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items of s1 not present in s2:
0    1
2    3
4    5
dtype: int64

In [85]:
# 17. Write a Pandas program to get the items which are not common of two given series.
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([2, 4, 6, 8, 10])
print("Original Series:")
print("s1:")
print(s1)
print("s2:")
print(s2)
print("\nItems which are not common:")
union = pd.Series(np.union1d(s1, s2)) 
intersect = pd.Series(np.intersect1d(s1, s2)) 
notcommon = union[~union.isin(intersect)] 
print(notcommon)

Original Series:
s1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
s2:
0     2
1     4
2     6
3     8
4    10
dtype: int64

Items which are not common:
0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

In [88]:
# 18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.
num_state = np.random.RandomState(100)
num_series = pd.Series(num_state.normal(10, 4, 20))
print("Original Series:")
print(num_series)
result = np.percentile(num_series, q=[0, 25, 50, 75, 100])
print("\nMinimum, 25th percentile, median, 75th, and maximum of a given series:")
print(result)

Original Series:
0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.00093811  8.09463867 10.23353705 12.21537733 14.61214321]

In [92]:
# 19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.
num_series = pd.Series(np.random.randint(10, size=40))
print("Original Series:")
print(num_series)
print("Frequency of each unique value of the said series.")
result = num_series.value_counts()
print(result)

Original Series:
0     8
1     4
2     9
3     5
4     4
5     3
6     2
7     1
8     5
9     5
10    9
11    0
12    6
13    2
14    8
15    2
16    9
17    8
18    4
19    6
20    6
21    4
22    4
23    0
24    2
25    3
26    6
27    8
28    5
29    4
30    8
31    9
32    0
33    2
34    8
35    1
36    7
37    1
38    9
39    3
dtype: int32
Frequency of each unique value of the said series.
8    6
4    6
9    5
2    5
5    4
6    4
3    3
1    3
0    3
7    1
Name: count, dtype: int64

In [99]:
# 20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.
num_series = pd.Series(np.random.randint(1, 5, [20]))
print("Original Series:")
print(num_series)
print("Top Frequency:")
print(num_series.value_counts())
result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'
print(num_series)

Original Series:
0     2
1     4
2     3
3     1
4     2
5     3
6     3
7     4
8     4
9     4
10    3
11    3
12    2
13    3
14    3
15    1
16    3
17    4
18    1
19    4
dtype: int32
Top Frequency:
3    8
4    6
2    3
1    3
Name: count, dtype: int64
0     Other
1     Other
2         3
3     Other
4     Other
5         3
6         3
7     Other
8     Other
9     Other
10        3
11        3
12    Other
13        3
14        3
15    Other
16        3
17    Other
18    Other
19    Other
dtype: object

C:\Users\dai\AppData\Local\Temp\ipykernel_20852\4097442570.py:7: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Other' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  result = num_series[~num_series.isin(num_series.value_counts().index[:1])] = 'Other'

In [114]:
# 21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.
s = pd.Series([1,2,4,5,7,9,10,20,4,45])
print("Original Series:")
print(s)
s=np.where(s % 5 == 0 )
print("Position of numbers that are multiple of 5 : \n", s)

Original Series:
0     1
1     2
2     4
3     5
4     7
5     9
6    10
7    20
8     4
9    45
dtype: int64
Position of numbers that are multiple of 5 :
 (array([3, 6, 7, 9], dtype=int64),)

In [127]:
# 22. Write a Pandas program to extract items at given positions of a given series.
s = pd.Series(np.random.randint(1, 5, [15]))
print("Original Series:")
print(s)
print("Items at a given position:")
s = s.take([0, 2, 5, 14, 12])
print(s)

Original Series:
0     3
1     4
2     1
3     2
4     1
5     1
6     1
7     2
8     4
9     1
10    3
11    2
12    3
13    2
14    3
dtype: int32
Items at a given position:
0     3
2     1
5     1
14    3
12    3
dtype: int32

In [146]:
# 23. Write a Pandas program to get the positions of items of a given series in another given series.
s1 = pd.Series([12,10,1,2,3,4,6,5,7,8,31,23,56])
s2 = pd.Series([10,5,8,23,56])
print("Series 1: ")
print(s1)
print("Series 2: ")
print(s2)
s= [pd.Index(s1).get_loc(i) for i in s2]
print(s)

Series 1:
0     12
1     10
2      1
3      2
4      3
5      4
6      6
7      5
8      7
9      8
10    31
11    23
12    56
dtype: int64
Series 2:
0    10
1     5
2     8
3    23
4    56
dtype: int64
[1, 7, 9, 11, 12]

In [156]:
# 24. Write a Pandas program convert the first and last character of each word to uppercase in each word of a given series.
p=pd.Series(['php','python','java','c#'])
print("Original Series")
print(p)
print("First and last character of each word to upper case:")
p = p.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
print(p)

Original Series
0       php
1    python
2      java
3        c#
dtype: object
First and last character of each word to upper case:
0       PhP
1    PythoN
2      JavA
3        C#
dtype: object

In [159]:
# 25. Write a Pandas program to calculate the number of characters in each word in a given series.
p=pd.Series(['php','python','java','c#'])
print("Original Series")
print(p)
print("Number of characters in each word in the said series :")
p = p.map(lambda x: len(x))
print(p)

Original Series
0       php
1    python
2      java
3        c#
dtype: object
Number of characters in each word in the said series :
0    3
1    6
2    4
3    2
dtype: int64

In [173]:
# 26. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.
p = pd.Series([12,10,1,2,3,4,6,5,7,23,56])
print("Original Series")
print(p)
print("Difference of differences between consecutive numbers of the said series:")
print(p.diff().tolist())
print(p.diff().diff().tolist())

Original Series
0     12
1     10
2      1
3      2
4      3
5      4
6      6
7      5
8      7
9     23
10    56
dtype: int64
Difference of differences between consecutive numbers of the said series:
[nan, -2.0, -9.0, 1.0, 1.0, 1.0, 2.0, -1.0, 2.0, 16.0, 33.0]
[nan, nan, -7.0, 10.0, 0.0, 0.0, 1.0, -3.0, 3.0, 14.0, 17.0]

In [189]:
# 27. Write a Pandas program to convert a series of date strings to a timeseries.
from dateutil.parser import parse as pr
d = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Original Series:")
print(d)
print("\nSeries of date strings to a timeseries:")
print(d.map(lambda x: pr(x)))

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Series of date strings to a timeseries:
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [203]:
# 28. Write a Pandas program to get the day of month, day of year, week number and day of week from a given series of date strings.
from dateutil.parser import parse as pr
d = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Original Series:")
print(d)
print("\nSeries of date strings to a timeseries:")
d=d.map(lambda x: pr(x))
print("Day of month:")
print(d.dt.day.tolist())
print("Day of year:")
print(d.dt.dayofyear.tolist())
#print("Week number:")
#print(d.dt.weekyear.tolist())
#print("Day of week:")
#print(d.dt.day_name.tolist())

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Series of date strings to a timeseries:
Day of month:
[1, 2, 7, 6, 12, 6]
Day of year:
[1, 276, 66, 126, 103, 96]

In [204]:
# 29. Write a Pandas program to convert year-month string to dates adding a specified day of the month.
from dateutil.parser import parse
d = pd.Series(['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019'])
print("Original Series:")
print(d)
print("\nNew dates:")
s = d.map(lambda d: parse('11 ' + d))
print(s)

Original Series:
0    Jan 2015
1    Feb 2016
2    Mar 2017
3    Apr 2018
4    May 2019
dtype: object

New dates:
0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

In [206]:
# 30. Write a Pandas program to filter words from a given series that contain atleast two vowels.
from collections import Counter
c = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
print("Original Series:")
print(c)
print("\nFiltered words:")
result =c.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiou')]) >= 2)
print(c[result])

Original Series:
0       Red
1     Green
2    Orange
3      Pink
4    Yellow
5     White
dtype: object

Filtered words:
1     Green
2    Orange
4    Yellow
5     White
dtype: object

In [207]:
# 31. Write a Pandas program to compute the Euclidean distance between two given series.
x = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
y = pd.Series([11, 12, 7, 5, 6, 5, 4, 15, 7, 1])
print("Original series:")
print(x)
print(y)
print("\nEuclidean distance between two said series:")
print(np.linalg.norm(x-y))

Original series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
0    11
1    12
2     7
3     5
4     6
5     5
6     4
7    15
8     7
9     1
dtype: int64

Euclidean distance between two said series:
19.026297590440446

In [208]:
# 32. Write a Pandas program to find the positions of the values neighboured by smaller values on both sides in a given series.
num = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print("Original series:")
print(num )
print("\nPositions of the values surrounded by smaller values on both sides:")
temp = np.diff(np.sign(np.diff(num)))
res = np.where(temp == -2)[0] + 1
print(res)

Original series:
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64

Positions of the values surrounded by smaller values on both sides:
[1 4 8]

In [209]:
# 33. Write a Pandas program to replace missing white spaces in a given string with the least frequent character.
s1= 'abc def abcdef icd'
print("Original series:")
print(s1)
ser = pd.Series(list(s1))
element_freq = ser.value_counts()
print(element_freq)
current_freq = element_freq.dropna().index[-1]
result = "".join(ser.replace(' ', current_freq))
print(result)

Original series:
abc def abcdef icd
c    3
     3
d    3
a    2
b    2
e    2
f    2
i    1
Name: count, dtype: int64
abcidefiabcdefiicd

In [210]:
# 34. Write a Pandas program to compute the autocorrelations of a given numeric series.
n = pd.Series(np.arange(15) + np.random.normal(1, 10, 15))
print("Original series:")
print(n)
autocorrelations = [n.autocorr(i).round(2) for i in range(11)]
print("\nAutocorrelations of the said series:")
print(autocorrelations[1:])

Original series:
0      0.858036
1    -10.416736
2     12.202072
3      6.717705
4     14.992434
5      8.705366
6      2.109368
7     -4.014202
8      5.556018
9     12.340099
10    -5.075045
11    20.938278
12    19.225437
13    10.969591
14    15.052994
dtype: float64

Autocorrelations of the said series:
[0.09, 0.02, 0.04, -0.31, -0.14, 0.11, 0.35, -0.06, 0.79, 0.03]

In [218]:
# 35. Write a Pandas program to create a TimeSeries to display all the Sundays of given year.
result = pd.Series(pd.date_range('2022-01-01', periods=52, freq='W-SUN'))
print("All Sundays of 2021:")
print(result)

All Sundays of 2021:
0    2022-01-02
1    2022-01-09
2    2022-01-16
3    2022-01-23
4    2022-01-30
5    2022-02-06
6    2022-02-13
7    2022-02-20
8    2022-02-27
9    2022-03-06
10   2022-03-13
11   2022-03-20
12   2022-03-27
13   2022-04-03
14   2022-04-10
15   2022-04-17
16   2022-04-24
17   2022-05-01
18   2022-05-08
19   2022-05-15
20   2022-05-22
21   2022-05-29
22   2022-06-05
23   2022-06-12
24   2022-06-19
25   2022-06-26
26   2022-07-03
27   2022-07-10
28   2022-07-17
29   2022-07-24
30   2022-07-31
31   2022-08-07
32   2022-08-14
33   2022-08-21
34   2022-08-28
35   2022-09-04
36   2022-09-11
37   2022-09-18
38   2022-09-25
39   2022-10-02
40   2022-10-09
41   2022-10-16
42   2022-10-23
43   2022-10-30
44   2022-11-06
45   2022-11-13
46   2022-11-20
47   2022-11-27
48   2022-12-04
49   2022-12-11
50   2022-12-18
51   2022-12-25
dtype: datetime64[ns]

In [219]:
# 36. Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.
char = list('ABCDEFGHIJKLMNOP')
a= np.arange(8)
d = dict(zip(char, a))
s = pd.Series(d)
df = s.to_frame().reset_index()
print(df.head())

  index  0
0     A  0
1     B  1
2     C  2
3     D  3
4     E  4

In [222]:
# 37. Write a Pandas program to stack two given series vertically and horizontally.
s1 = pd.Series(range(10))
s2 = pd.Series(list('pqrstuvwxy'))
print("Original Series:")
print(s1)
print(s2)
df = pd.concat([s1, s2], axis=1)
print("\nStack two given series vertically and horizontally:")
print(df)

Original Series:
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
0    p
1    q
2    r
3    s
4    t
5    u
6    v
7    w
8    x
9    y
dtype: object

Stack two given series vertically and horizontally:
   0  1
0  0  p
1  1  q
2  2  r
3  3  s
4  4  t
5  5  u
6  6  v
7  7  w
8  8  x
9  9  y

In [224]:
# 38. Write a Pandas program to check the equality of two given series.
n1 = pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
n2 = pd.Series([1, 8, 7, 5, 6, 5, 3, 5, 7, 1])
print("Original Series:")
print(n1)
print(n2)
print("Check 2 series are equal or not?")
print(n1 == n2)

Original Series:
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    5
8    7
9    1
dtype: int64
Check 2 series are equal or not?
0     True
1     True
2     True
3     True
4     True
5     True
6     True
7    False
8     True
9     True
dtype: bool

In [226]:
#39. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.
nums = pd.Series([1, 3, 7, 12, 88, 23, 3, 1, 9, 0])
print("Original Series:")
print(nums)
print("Index of the first occurrence of the smallest and largest value of the said series:")
print(nums.idxmin())
print(nums.idxmax())

Original Series:
0     1
1     3
2     7
3    12
4    88
5    23
6     3
7     1
8     9
9     0
dtype: int64
Index of the first occurrence of the smallest and largest value of the said series:
9
4

In [217]:
# 40. Write a Pandas program to check inequality over the index axis of a given dataframe and a given series.
df_data = pd.DataFrame({'W':[68,75,86,80,None],'X':[78,75,None,80,86], 'Y':[84,94,89,86,86],'Z':[86,97,96,72,83]});
sr_data = pd.Series([68, 75, 86, 80, None]) 
print("Original DataFrame:")
print(df_data)
print("\nOriginal Series:")
print(sr_data)
print("\nCheck for inequality of the said series & dataframe:")
print(df_data.ne(sr_data, axis = 0))

Original DataFrame:
      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83

Original Series:
0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64

Check for inequality of the said series & dataframe:
       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True