# Pandas Time Series

In [53]:
import datetime
from datetime import datetime, date
import pandas as pd
import numpy as np
from pandas.tseries.offsets import *
from pandas.tseries.holiday import *

#### 1. Write a Pandas program to create
a) Datetime object for Jan 15 2012.

b) Specific date and time of 9:20 pm.

c) Local date and time.

d) A date without time.
    
e) Current date.
    
f) Time from a datetime.

g) Current local time.

In [3]:
print("Datetime object for Jan 11 2012:")
print(datetime(2012, 1, 11))
print("\nSpecific date and time of 9:20 pm") 
print(datetime(2011, 1, 11, 21, 20))
print("\nLocal date and time:")
print(datetime.now())
print("\nA date without time: ")
print(datetime.date(datetime(2012, 5, 22)))
print("\nCurrent date:")
print(datetime.now().date())
print("\nTime from a datetime:")
print(datetime.time(datetime(2012, 12, 15, 18, 12)))
print("\nCurrent local time:") 
print(datetime.now().time())

Datetime object for Jan 11 2012:
2012-01-11 00:00:00

Specific date and time of 9:20 pm
2011-01-11 21:20:00

Local date and time:
2024-04-22 14:44:22.738197

A date without time:
2012-05-22

Current date:
2024-04-22

Time from a datetime:
18:12:00

Current local time:
14:44:22.738197

#### 2. Write a Pandas program to create
a) a specific date using timestamp.
    
b) date and time using timestamp.

c) a time adds in the current local date using timestamp.
    
d) current date and time using timestamp.

In [5]:
print("\nA specific date using timestamp:")
print(pd.Timestamp('2016-11-10'))
print("\nDate and time using timestamp:")
print(pd.Timestamp('2012-05-03 11:30'))
print("\nA time adds in the current local date using timestamp:")
print(pd.Timestamp('11:30'))
print("\nCurrent date and time using timestamp:")
print(pd.Timestamp("now"))

A specific date using timestamp:
2016-11-10 00:00:00

Date and time using timestamp:
2012-05-03 11:30:00

A time adds in the current local date using timestamp:
2024-04-22 11:30:00

Current date and time using timestamp:
2024-04-22 14:45:25.376256

#### 3. Write a Pandas program to create a date from a given year, month, day and another date from a given string formats.

In [6]:
date1 = datetime(year=2020, month=12, day=25)
print("Date from a given year, month, day:")
print(date1)
from dateutil import parser
date2 = parser.parse("1st of January, 2021")
print("\nDate from a given string formats:")
print(date2)

Date from a given year, month, day:
2020-12-25 00:00:00

Date from a given string formats:
2021-01-01 00:00:00

#### 4. Write a Pandas program to print the day after and before a specified date. Also print the days between two given dates.

In [7]:
today = datetime(2012, 10, 30)
print("Current date:", today)
tomorrow = today + pd.Timedelta(days=1)
print("Tomorrow:", tomorrow)
yesterday = today - pd.Timedelta(days=1)
print("Yesterday:", yesterday)
date1 = datetime(2016, 8, 2)
date2 = datetime(2016, 7, 19)
print("\nDifference between two dates: ",(date1 - date2))

Current date: 2012-10-30 00:00:00
Tomorrow: 2012-10-31 00:00:00
Yesterday: 2012-10-29 00:00:00

Difference between two dates:  14 days, 0:00:00

#### 5. Write a Pandas program to create a time-series with two index labels and random values. Also print the type of the index.

In [10]:
dates = [datetime(2011, 9, 1), datetime(2011, 9, 2)]
print("Time-series with two index labels:")
time_series = pd.Series(np.random.randn(2), dates)
print(time_series)
print("\nType of the index:")
print(type(time_series.index))

Time-series with two index labels:
2011-09-01    0.098092
2011-09-02    0.308700
dtype: float64

Type of the index:
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [ ]:
6. Write a Pandas program to create a time-series from a given list of dates as strings.

In [11]:
dates = ['2014-08-01','2014-08-02','2014-08-03','2014-08-04']
time_series = pd.Series(np.random.randn(4), dates)
print(time_series)

2014-08-01   -1.404831
2014-08-02    0.103431
2014-08-03   -0.757730
2014-08-04   -0.699125
dtype: float64

#### 7. Write a Pandas program to create a time series object that has time indexed data. Also select the dates of same year and select the dates between certain dates.

In [49]:
index = pd.DatetimeIndex(['2011-09-02', '2012-08-04',
                          '2015-09-03', '2010-08-04',
                          '2015-03-03', '2011-08-04',
                          '2015-04-03', '2012-08-04'])

s_dates = pd.Series([0, 1, 2, 3, 4, 5, 6, 7], index=index)

print("Time series object with indexed data:")
print(s_dates)
print("\nDates of same year:")
print(s_dates['2015'])
from datetime import date, timedelta

start_dt = date(2012, 1, 1)
end_dt = date(2012, 1, 12)
delta = timedelta(days=1)
dates = []
while start_dt <= end_dt:
    dates.append(start_dt.isoformat())
    start_dt += delta
print('\nDates between', start_dt, 'and', end_dt)
print(dates)

Time series object with indexed data:
2011-09-02    0
2012-08-04    1
2015-09-03    2
2010-08-04    3
2015-03-03    4
2011-08-04    5
2015-04-03    6
2012-08-04    7
dtype: int64

Dates of same year:
2015-09-03    2
2015-03-03    4
2015-04-03    6
dtype: int64

Dates between 2012-01-13 and 2012-01-12
['2012-01-01', '2012-01-02', '2012-01-03', '2012-01-04', '2012-01-05', '2012-01-06', '2012-01-07', '2012-01-08', '2012-01-09', '2012-01-10', '2012-01-11', '2012-01-12']

#### 8. Write a Pandas program to create a date range using a startpoint date and a number of periods.

In [13]:
date_range = pd.date_range('2020-01-01', periods=45)
print("Date range of perods 45:")
print(date_range)

Date range of perods 45:
DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31', '2020-02-01',
               '2020-02-02', '2020-02-03', '2020-02-04', '2020-02-05',
               '2020-02-06', '2020-02-07', '2020-02-08', '2020-02-09',
               '2020-02-10', '2020-02-11', '2020-02-12', '2020-02-13',
               '2020-02-14'],
              dtype='datetime64[ns]', freq='D')

#### 9. Write a Pandas program to create a whole month of dates in daily frequencies. Also find the maximum, minimum timestamp and indexs.

In [14]:
dates = pd.Series(pd.date_range('2020-12-01',periods=31, freq='D'))
print("Month of December 2020:")
print(dates)
dates = pd.Series(pd.date_range('2020-12-01',periods=31, freq='D'))
print("\nMaximum date: ", dates.max())
print("Minimum date: ", dates.min())
print("Maximum index: ", dates.idxmax())
print("Minimum index: ", dates.idxmin())

Month of December 2020:
0    2020-12-01
1    2020-12-02
2    2020-12-03
3    2020-12-04
4    2020-12-05
5    2020-12-06
6    2020-12-07
7    2020-12-08
8    2020-12-09
9    2020-12-10
10   2020-12-11
11   2020-12-12
12   2020-12-13
13   2020-12-14
14   2020-12-15
15   2020-12-16
16   2020-12-17
17   2020-12-18
18   2020-12-19
19   2020-12-20
20   2020-12-21
21   2020-12-22
22   2020-12-23
23   2020-12-24
24   2020-12-25
25   2020-12-26
26   2020-12-27
27   2020-12-28
28   2020-12-29
29   2020-12-30
30   2020-12-31
dtype: datetime64[ns]

Maximum date:  2020-12-31 00:00:00
Minimum date:  2020-12-01 00:00:00
Maximum index:  30
Minimum index:  0

#### 10. Write a Pandas program to create a time series using three months frequency.

In [15]:
time_series = pd.date_range('1/1/2021', periods = 36, freq='3M')
print("Time series using three months frequency:")
print(time_series)

Time series using three months frequency:
DatetimeIndex(['2021-01-31', '2021-04-30', '2021-07-31', '2021-10-31',
               '2022-01-31', '2022-04-30', '2022-07-31', '2022-10-31',
               '2023-01-31', '2023-04-30', '2023-07-31', '2023-10-31',
               '2024-01-31', '2024-04-30', '2024-07-31', '2024-10-31',
               '2025-01-31', '2025-04-30', '2025-07-31', '2025-10-31',
               '2026-01-31', '2026-04-30', '2026-07-31', '2026-10-31',
               '2027-01-31', '2027-04-30', '2027-07-31', '2027-10-31',
               '2028-01-31', '2028-04-30', '2028-07-31', '2028-10-31',
               '2029-01-31', '2029-04-30', '2029-07-31', '2029-10-31'],
              dtype='datetime64[ns]', freq='3M')

#### 11. Write a Pandas program to create a sequence of durations increasing by an hour.

In [16]:
date_range = pd.timedelta_range(0, periods=49, freq='H')
print("Hourly range of perods 49:")
print(date_range)

Hourly range of perods 49:
TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00', '0 days 10:00:00', '0 days 11:00:00',
                '0 days 12:00:00', '0 days 13:00:00', '0 days 14:00:00',
                '0 days 15:00:00', '0 days 16:00:00', '0 days 17:00:00',
                '0 days 18:00:00', '0 days 19:00:00', '0 days 20:00:00',
                '0 days 21:00:00', '0 days 22:00:00', '0 days 23:00:00',
                '1 days 00:00:00', '1 days 01:00:00', '1 days 02:00:00',
                '1 days 03:00:00', '1 days 04:00:00', '1 days 05:00:00',
                '1 days 06:00:00', '1 days 07:00:00', '1 days 08:00:00',
                '1 days 09:00:00', '1 days 10:00:00', '1 days 11:00:00',
                '1 days 12:00:00', '1 days 13:00:00', '1 days 14:00:00',
                '1 days 15:00:00', '1 days 16:00:00', '1 days 17:00:00',
                '1 days 18:00:00', '1 days 19:00:00', '1 days 20:00:00',
                '1 days 21:00:00', '1 days 22:00:00', '1 days 23:00:00',
                '2 days 00:00:00'],
               dtype='timedelta64[ns]', freq='H')

#### 12. Write a Pandas program to convert year and day of year into a single datetime column of a dataframe.

In [17]:
data = {\
"year": [2002, 2003, 2015, 2018],
"day_of_the_year": [250, 365, 1, 140]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)
df["combined"] = df["year"]*1000 + df["day_of_the_year"]
df["date"] = pd.to_datetime(df["combined"], format = "%Y%j")
print("\nNew DataFrame:")
print(df)

Original DataFrame:
   year  day_of_the_year
0  2002              250
1  2003              365
2  2015                1
3  2018              140

New DataFrame:
   year  day_of_the_year  combined       date
0  2002              250   2002250 2002-09-07
1  2003              365   2003365 2003-12-31
2  2015                1   2015001 2015-01-01
3  2018              140   2018140 2018-05-20

#### 13. Write a Pandas program to create a series of Timestamps from a DataFrame of integer or string columns. Also create a series of Timestamps using specified columns.

In [18]:
df = pd.DataFrame({'year': [2018, 2019, 2020],
                   'month': [2, 3, 4],
                   'day': [4, 5, 6],
                   'hour': [2, 3, 4]})
print("Original dataframe:")
print(df)
result = pd.to_datetime(df)
print("\nSeries of Timestamps from the said dataframe:")
print(result)
print("\nSeries of Timestamps using specified columns:")
print(pd.to_datetime(df[['year', 'month', 'day']]))

Original dataframe:
   year  month  day  hour
0  2018      2    4     2
1  2019      3    5     3
2  2020      4    6     4

Series of Timestamps from the said dataframe:
0   2018-02-04 02:00:00
1   2019-03-05 03:00:00
2   2020-04-06 04:00:00
dtype: datetime64[ns]

Series of Timestamps using specified columns:
0   2018-02-04
1   2019-03-05
2   2020-04-06
dtype: datetime64[ns]

#### 14. Write a Pandas program to check if a day is a business day (weekday) or not.

In [19]:
def is_business_day(date):
    return bool(len(pd.bdate_range(date, date)))
print("Check busines day or not?")
print('2020-12-01: ',is_business_day('2020-12-01'))
print('2020-12-06: ',is_business_day('2020-12-06'))
print('2020-12-07: ',is_business_day('2020-12-07'))
print('2020-12-08: ',is_business_day('2020-12-08'))

Check busines day or not?
2020-12-01:  True
2020-12-06:  False
2020-12-07:  True
2020-12-08:  True

#### 15. Write a Pandas program to get a time series with the last working days of each month of a specific year.

In [20]:
s = pd.date_range('2021-01-01', periods=12, freq='BM')
df = pd.DataFrame(s, columns=['Date'])
print('last working days of each month of a specific year:')
print(df)

last working days of each month of a specific year:
         Date
0  2021-01-29
1  2021-02-26
2  2021-03-31
3  2021-04-30
4  2021-05-31
5  2021-06-30
6  2021-07-30
7  2021-08-31
8  2021-09-30
9  2021-10-29
10 2021-11-30
11 2021-12-31

#### 16. Write a Pandas program to create a time series combining hour and minute.

In [21]:
result = pd.timedelta_range(0, periods=30, freq="1H20T")
print("For a frequency of 1 hours 20 minutes, here we have combined the hour (H) and minute (T):\n")
print(result)

For a frequency of 1 hours 20 minutes, here we have combined the hour (H) and minute (T):

TimedeltaIndex(['0 days 00:00:00', '0 days 01:20:00', '0 days 02:40:00',
                '0 days 04:00:00', '0 days 05:20:00', '0 days 06:40:00',
                '0 days 08:00:00', '0 days 09:20:00', '0 days 10:40:00',
                '0 days 12:00:00', '0 days 13:20:00', '0 days 14:40:00',
                '0 days 16:00:00', '0 days 17:20:00', '0 days 18:40:00',
                '0 days 20:00:00', '0 days 21:20:00', '0 days 22:40:00',
                '1 days 00:00:00', '1 days 01:20:00', '1 days 02:40:00',
                '1 days 04:00:00', '1 days 05:20:00', '1 days 06:40:00',
                '1 days 08:00:00', '1 days 09:20:00', '1 days 10:40:00',
                '1 days 12:00:00', '1 days 13:20:00', '1 days 14:40:00'],
               dtype='timedelta64[ns]', freq='80T')

#### 17. Write a Pandas program to convert unix/epoch time to a regular time stamp in UTC. Also convert the said timestamp in to a given time zone.

In [22]:
epoch_t = 1621132355
time_stamp = pd.to_datetime(epoch_t, unit='s')
# UTC (Coordinated Universal Time) is one of the well-known names of UTC+0 time zone which is 0h.
# By default, time series objects of pandas do not have an assigned time zone.
print("Regular time stamp in UTC:")
print(time_stamp)
print("\nConvert the said timestamp in to US/Pacific:")
print(time_stamp.tz_localize('UTC').tz_convert('US/Pacific'))
print("\nConvert the said timestamp in to Europe/Berlin:")
print(time_stamp.tz_localize('UTC').tz_convert('Europe/Berlin'))

Regular time stamp in UTC:
2021-05-16 02:32:35

Convert the said timestamp in to US/Pacific:
2021-05-15 19:32:35-07:00

Convert the said timestamp in to Europe/Berlin:
2021-05-16 04:32:35+02:00

#### 18. Write a Pandas program to create a time series object with a time zone.

In [23]:
print("Timezone: Europe/Berlin:")
print("Using pytz:")
date_pytz = pd.Timestamp('2019-01-01', tz = 'Europe/Berlin')
print(date_pytz.tz)  
print("Using dateutil:")
date_util = pd.Timestamp('2019-01-01', tz = 'dateutil/Europe/Berlin')
print(date_util.tz)
print("\nUS/Pacific:")
print("Using pytz:")
date_pytz = pd.Timestamp('2019-01-01', tz = 'US/Pacific')
print(date_pytz.tz)  
print("Using dateutil:")
date_util = pd.Timestamp('2019-01-01', tz = 'dateutil/US/Pacific')
print(date_util.tz)

Timezone: Europe/Berlin:
Using pytz:
Europe/Berlin
Using dateutil:
tzfile('Europe/Berlin')

US/Pacific:
Using pytz:
US/Pacific
Using dateutil:
tzfile('US/Pacific')

#### 19. Write a Pandas program to remove the time zone information from a Time series data.

In [24]:
date1 = pd.Timestamp('2019-01-01', tz='Europe/Berlin')
date2 = pd.Timestamp('2019-01-01', tz='US/Pacific')
date3 = pd.Timestamp('2019-01-01', tz='US/Eastern')
print("Time series data with time zone:")
print(date1)
print(date2)
print(date3)
print("\nTime series data without time zone:")
print(date1.tz_localize(None))
print(date2.tz_localize(None))
print(date3.tz_localize(None))

Time series data with time zone:
2019-01-01 00:00:00+01:00
2019-01-01 00:00:00-08:00
2019-01-01 00:00:00-05:00

Time series data without time zone:
2019-01-01 00:00:00
2019-01-01 00:00:00
2019-01-01 00:00:00

#### 20. Write a Pandas program to subtract two timestamps of same time zone or different time zone.

In [25]:
print("Subtract two timestamps of same time zone:")
date1 = pd.Timestamp('2019-03-01 12:00', tz='US/Eastern')
date2 = pd.Timestamp('2019-04-01 07:00', tz='US/Eastern')
print("Difference: ", (date2-date1))
print("\nSubtract two timestamps of different time zone:")
date1 = pd.Timestamp('2019-03-01 12:00', tz='US/Eastern')
date2 = pd.Timestamp('2019-03-01 07:00', tz='US/Pacific')
# Remove the time zone and do the subtraction
print("Difference: ", (date1.tz_localize(None) - date2.tz_localize(None)))

Subtract two timestamps of same time zone:
Difference:  30 days 18:00:00

Subtract two timestamps of different time zone:
Difference:  0 days 05:00:00

#### 21. Write a Pandas program to calculate all Thursdays between two given days.

In [26]:
thursdays  = pd.date_range('2020-01-01', 
                           '2020-12-31', freq="W-THU")
print("All Thursdays between 2020-01-01 and 2020-12-31:\n")
print(thursdays.values)

All Thursdays between 2020-01-01 and 2020-12-31:

['2020-01-02T00:00:00.000000000' '2020-01-09T00:00:00.000000000'
 '2020-01-16T00:00:00.000000000' '2020-01-23T00:00:00.000000000'
 '2020-01-30T00:00:00.000000000' '2020-02-06T00:00:00.000000000'
 '2020-02-13T00:00:00.000000000' '2020-02-20T00:00:00.000000000'
 '2020-02-27T00:00:00.000000000' '2020-03-05T00:00:00.000000000'
 '2020-03-12T00:00:00.000000000' '2020-03-19T00:00:00.000000000'
 '2020-03-26T00:00:00.000000000' '2020-04-02T00:00:00.000000000'
 '2020-04-09T00:00:00.000000000' '2020-04-16T00:00:00.000000000'
 '2020-04-23T00:00:00.000000000' '2020-04-30T00:00:00.000000000'
 '2020-05-07T00:00:00.000000000' '2020-05-14T00:00:00.000000000'
 '2020-05-21T00:00:00.000000000' '2020-05-28T00:00:00.000000000'
 '2020-06-04T00:00:00.000000000' '2020-06-11T00:00:00.000000000'
 '2020-06-18T00:00:00.000000000' '2020-06-25T00:00:00.000000000'
 '2020-07-02T00:00:00.000000000' '2020-07-09T00:00:00.000000000'
 '2020-07-16T00:00:00.000000000' '2020-07-23T00:00:00.000000000'
 '2020-07-30T00:00:00.000000000' '2020-08-06T00:00:00.000000000'
 '2020-08-13T00:00:00.000000000' '2020-08-20T00:00:00.000000000'
 '2020-08-27T00:00:00.000000000' '2020-09-03T00:00:00.000000000'
 '2020-09-10T00:00:00.000000000' '2020-09-17T00:00:00.000000000'
 '2020-09-24T00:00:00.000000000' '2020-10-01T00:00:00.000000000'
 '2020-10-08T00:00:00.000000000' '2020-10-15T00:00:00.000000000'
 '2020-10-22T00:00:00.000000000' '2020-10-29T00:00:00.000000000'
 '2020-11-05T00:00:00.000000000' '2020-11-12T00:00:00.000000000'
 '2020-11-19T00:00:00.000000000' '2020-11-26T00:00:00.000000000'
 '2020-12-03T00:00:00.000000000' '2020-12-10T00:00:00.000000000'
 '2020-12-17T00:00:00.000000000' '2020-12-24T00:00:00.000000000'
 '2020-12-31T00:00:00.000000000']

#### 22. Write a Pandas program to find the all the business quarterly begin and end dates of a specified year.

In [27]:
q_start_dates = pd.date_range('2020-01-01', '2020-12-31', freq='BQS-JUN')
q_end_dates = pd.date_range('2020-01-01', '2020-12-31', freq='BQ-JUN')
print("All the business quarterly begin dates of 2020:")
print(q_start_dates.values)
print("\nAll the business quarterly end dates of 2020:")
print(q_end_dates.values)

All the business quarterly begin dates of 2020:
['2020-03-02T00:00:00.000000000' '2020-06-01T00:00:00.000000000'
 '2020-09-01T00:00:00.000000000' '2020-12-01T00:00:00.000000000']

All the business quarterly end dates of 2020:
['2020-03-31T00:00:00.000000000' '2020-06-30T00:00:00.000000000'
 '2020-09-30T00:00:00.000000000' '2020-12-31T00:00:00.000000000']

#### 23. Write a Pandas program to generate sequences of fixed-frequency dates and time spans intervals.

In [28]:
print("Sequences of fixed-frequency dates and time spans (1 H):\n")
r1 = pd.date_range('2030-01-01', periods=10, freq='H')
print(r1)
print("\nSequences of fixed-frequency dates and time spans (3 H):\n")
r2 = pd.date_range('2030-01-01', periods=10, freq='3H')
print(r2)

Sequences of fixed-frequency dates and time spans (1 H):

DatetimeIndex(['2030-01-01 00:00:00', '2030-01-01 01:00:00',
               '2030-01-01 02:00:00', '2030-01-01 03:00:00',
               '2030-01-01 04:00:00', '2030-01-01 05:00:00',
               '2030-01-01 06:00:00', '2030-01-01 07:00:00',
               '2030-01-01 08:00:00', '2030-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

Sequences of fixed-frequency dates and time spans (3 H):

DatetimeIndex(['2030-01-01 00:00:00', '2030-01-01 03:00:00',
               '2030-01-01 06:00:00', '2030-01-01 09:00:00',
               '2030-01-01 12:00:00', '2030-01-01 15:00:00',
               '2030-01-01 18:00:00', '2030-01-01 21:00:00',
               '2030-01-02 00:00:00', '2030-01-02 03:00:00'],
              dtype='datetime64[ns]', freq='3H')

#### 24. Write a Pandas program to generate time series combining day and intraday offsets intervals.

In [29]:
dateset1 = pd.date_range('2029-01-01 00:00:00', periods=20, freq='3h10min')
print("Time series with frequency 3h10min:")
print(dateset1)
dateset2 = pd.date_range('2029-01-01 00:00:00', periods=20, freq='1D10min20U')
print("\nTime series with frequency 1 day 10 minutes and 20 microseconds:")
print(dateset2)

Time series with frequency 3h10min:
DatetimeIndex(['2029-01-01 00:00:00', '2029-01-01 03:10:00',
               '2029-01-01 06:20:00', '2029-01-01 09:30:00',
               '2029-01-01 12:40:00', '2029-01-01 15:50:00',
               '2029-01-01 19:00:00', '2029-01-01 22:10:00',
               '2029-01-02 01:20:00', '2029-01-02 04:30:00',
               '2029-01-02 07:40:00', '2029-01-02 10:50:00',
               '2029-01-02 14:00:00', '2029-01-02 17:10:00',
               '2029-01-02 20:20:00', '2029-01-02 23:30:00',
               '2029-01-03 02:40:00', '2029-01-03 05:50:00',
               '2029-01-03 09:00:00', '2029-01-03 12:10:00'],
              dtype='datetime64[ns]', freq='190T')

Time series with frequency 1 day 10 minutes and 20 microseconds:
DatetimeIndex([       '2029-01-01 00:00:00', '2029-01-02 00:10:00.000020',
               '2029-01-03 00:20:00.000040', '2029-01-04 00:30:00.000060',
               '2029-01-05 00:40:00.000080', '2029-01-06 00:50:00.000100',
               '2029-01-07 01:00:00.000120', '2029-01-08 01:10:00.000140',
               '2029-01-09 01:20:00.000160', '2029-01-10 01:30:00.000180',
               '2029-01-11 01:40:00.000200', '2029-01-12 01:50:00.000220',
               '2029-01-13 02:00:00.000240', '2029-01-14 02:10:00.000260',
               '2029-01-15 02:20:00.000280', '2029-01-16 02:30:00.000300',
               '2029-01-17 02:40:00.000320', '2029-01-18 02:50:00.000340',
               '2029-01-19 03:00:00.000360', '2029-01-20 03:10:00.000380'],
              dtype='datetime64[ns]', freq='87000000020U')

#### 25. Write a Pandas program to extract the day name from a specified date. Add 2 days and 1 business day with the specified date.

In [30]:
newday = pd.Timestamp('2020-02-07')
print("First date:")
print(newday)
print("\nThe day name of the said date:")
print(newday.day_name())
print("\nAdd 2 days with the said date:")
newday1 = newday + pd.Timedelta('2 day')
print(newday1.day_name())
print("\nNext business day:")
nbday = newday + pd.offsets.BDay()
print(nbday.day_name())

First date:
2020-02-07 00:00:00

The day name of the said date:
Friday

Add 2 days with the said date:
Sunday

Next business day:
Monday

#### 26. Write a Pandas program to convert integer or float epoch times to Timestamp and DatetimeIndex.

In [31]:
dates1 = pd.to_datetime([1329806505, 129806505, 1249892905,
                1249979305, 1250065705], unit='s')
print("Convert integer or float epoch times to Timestamp and DatetimeIndex upto second:")
print(dates1)
print("\nConvert integer or float epoch times to Timestamp and DatetimeIndex upto milisecond:")
dates2 = pd.to_datetime([1249720105100, 1249720105200, 1249720105300,
                1249720105400, 1249720105500], unit='ms')
print(dates2)

Convert integer or float epoch times to Timestamp and DatetimeIndex upto second:
DatetimeIndex(['2012-02-21 06:41:45', '1974-02-11 09:21:45',
               '2009-08-10 08:28:25', '2009-08-11 08:28:25',
               '2009-08-12 08:28:25'],
              dtype='datetime64[ns]', freq=None)

Convert integer or float epoch times to Timestamp and DatetimeIndex upto milisecond:
DatetimeIndex(['2009-08-08 08:28:25.100000', '2009-08-08 08:28:25.200000',
               '2009-08-08 08:28:25.300000', '2009-08-08 08:28:25.400000',
               '2009-08-08 08:28:25.500000'],
              dtype='datetime64[ns]', freq=None)

#### 27. Write a Pandas program to calculate one, two, three business day(s) from a specified date. Also find the next business month end from a specific date.

In [33]:
dt = datetime(2020, 1, 4)
print("Specified date:")
print(dt)
print("\nOne business day from the said date:")
obday = dt + BusinessDay()
print(obday)
print("\nTwo business days from the said date:")
tbday = dt + 2 * BusinessDay()
print(tbday)
print("\nThree business days from the said date:")
thbday = dt + 3 * BusinessDay()
print(thbday)
print("\nNext business month end from the said date:")
nbday = dt + BMonthEnd()
print(nbday)

Specified date:
2020-01-04 00:00:00

One business day from the said date:
2020-01-06 00:00:00

Two business days from the said date:
2020-01-07 00:00:00

Three business days from the said date:
2020-01-08 00:00:00

Next business month end from the said date:
2020-01-31 00:00:00

#### 28. Write a Pandas program to create a period index represent all monthly boundaries of a given year. Also print start and end time for each period object in the said index.

In [34]:
sdt = datetime(2020, 1, 1)
edt = datetime(2020, 12, 31)
dateset = pd.period_range(sdt, edt, freq='M')
print("All monthly boundaries of a given year:")
print(dateset) 
print("\nStart and end time for each period object in the said index:")
for d in dateset: 
    print ("{0} {1}".format(d.start_time, d.end_time))

All monthly boundaries of a given year:
PeriodIndex(['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
             '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12'],
            dtype='period[M]')

Start and end time for each period object in the said index:
2020-01-01 00:00:00 2020-01-31 23:59:59.999999999
2020-02-01 00:00:00 2020-02-29 23:59:59.999999999
2020-03-01 00:00:00 2020-03-31 23:59:59.999999999
2020-04-01 00:00:00 2020-04-30 23:59:59.999999999
2020-05-01 00:00:00 2020-05-31 23:59:59.999999999
2020-06-01 00:00:00 2020-06-30 23:59:59.999999999
2020-07-01 00:00:00 2020-07-31 23:59:59.999999999
2020-08-01 00:00:00 2020-08-31 23:59:59.999999999
2020-09-01 00:00:00 2020-09-30 23:59:59.999999999
2020-10-01 00:00:00 2020-10-31 23:59:59.999999999
2020-11-01 00:00:00 2020-11-30 23:59:59.999999999
2020-12-01 00:00:00 2020-12-31 23:59:59.999999999

#### 29. Write a Pandas program create a series with a PeriodIndex which represents all the calendar month periods in 2029 and 2031. Also print the values for all periods in 2030. Note: PeriodIndex is an immutable ndarray holding ordinal values indicating regular periods in time such as particular years, quarters, months, etc.

In [35]:
pi = pd.Series(np.random.randn(36), 
               pd.period_range('1/1/2029', 
                               '12/31/2031', freq='M'))
print("PeriodIndex which represents all the calendar month periods in 2029 and 2030:")
print(pi)
print("\nValues for all periods in 2030:")
print(pi['2030'])

PeriodIndex which represents all the calendar month periods in 2029 and 2030:
2029-01    0.479913
2029-02    0.515264
2029-03   -0.366225
2029-04    1.960421
2029-05   -0.169271
2029-06   -1.284978
2029-07    1.844542
2029-08   -0.298260
2029-09   -0.819412
2029-10   -0.536524
2029-11   -1.823913
2029-12   -0.040888
2030-01    0.475109
2030-02   -0.650115
2030-03    0.300399
2030-04    0.952395
2030-05    0.068769
2030-06    0.129490
2030-07    0.764507
2030-08   -1.151906
2030-09    0.656800
2030-10    1.207476
2030-11   -0.680220
2030-12   -1.960927
2031-01   -0.394040
2031-02    0.051691
2031-03    0.887686
2031-04   -0.922221
2031-05   -0.750977
2031-06    1.366961
2031-07    0.917574
2031-08    1.538194
2031-09    1.367622
2031-10   -0.673957
2031-11    0.563768
2031-12   -1.071569
Freq: M, dtype: float64

Values for all periods in 2030:
2030-01    0.475109
2030-02   -0.650115
2030-03    0.300399
2030-04    0.952395
2030-05    0.068769
2030-06    0.129490
2030-07    0.764507
2030-08   -1.151906
2030-09    0.656800
2030-10    1.207476
2030-11   -0.680220
2030-12   -1.960927
Freq: M, dtype: float64

#### 30. Write a Pandas program to generate holidays between two dates using the US federal holiday calendar.

In [52]:
from pandas.tseries.holiday import USFederalHolidayCalendar

sdt = datetime(2021, 1, 1)
edt = datetime(2030, 12, 31)
print("Holidays between 2021-01-01 and 2030-12-31 using the US federal holiday calendar.")
cal = USFederalHolidayCalendar()
for dt in cal.holidays(start=sdt, end=edt): 
    print (dt)

Holidays between 2021-01-01 and 2030-12-31 using the US federal holiday calendar.
2021-01-01 00:00:00
2021-01-18 00:00:00
2021-02-15 00:00:00
2021-05-31 00:00:00
2021-06-18 00:00:00
2021-07-05 00:00:00
2021-09-06 00:00:00
2021-10-11 00:00:00
2021-11-11 00:00:00
2021-11-25 00:00:00
2021-12-24 00:00:00
2021-12-31 00:00:00
2022-01-17 00:00:00
2022-02-21 00:00:00
2022-05-30 00:00:00
2022-06-20 00:00:00
2022-07-04 00:00:00
2022-09-05 00:00:00
2022-10-10 00:00:00
2022-11-11 00:00:00
2022-11-24 00:00:00
2022-12-26 00:00:00
2023-01-02 00:00:00
2023-01-16 00:00:00
2023-02-20 00:00:00
2023-05-29 00:00:00
2023-06-19 00:00:00
2023-07-04 00:00:00
2023-09-04 00:00:00
2023-10-09 00:00:00
2023-11-10 00:00:00
2023-11-23 00:00:00
2023-12-25 00:00:00
2024-01-01 00:00:00
2024-01-15 00:00:00
2024-02-19 00:00:00
2024-05-27 00:00:00
2024-06-19 00:00:00
2024-07-04 00:00:00
2024-09-02 00:00:00
2024-10-14 00:00:00
2024-11-11 00:00:00
2024-11-28 00:00:00
2024-12-25 00:00:00
2025-01-01 00:00:00
2025-01-20 00:00:00
2025-02-17 00:00:00
2025-05-26 00:00:00
2025-06-19 00:00:00
2025-07-04 00:00:00
2025-09-01 00:00:00
2025-10-13 00:00:00
2025-11-11 00:00:00
2025-11-27 00:00:00
2025-12-25 00:00:00
2026-01-01 00:00:00
2026-01-19 00:00:00
2026-02-16 00:00:00
2026-05-25 00:00:00
2026-06-19 00:00:00
2026-07-03 00:00:00
2026-09-07 00:00:00
2026-10-12 00:00:00
2026-11-11 00:00:00
2026-11-26 00:00:00
2026-12-25 00:00:00
2027-01-01 00:00:00
2027-01-18 00:00:00
2027-02-15 00:00:00
2027-05-31 00:00:00
2027-06-18 00:00:00
2027-07-05 00:00:00
2027-09-06 00:00:00
2027-10-11 00:00:00
2027-11-11 00:00:00
2027-11-25 00:00:00
2027-12-24 00:00:00
2027-12-31 00:00:00
2028-01-17 00:00:00
2028-02-21 00:00:00
2028-05-29 00:00:00
2028-06-19 00:00:00
2028-07-04 00:00:00
2028-09-04 00:00:00
2028-10-09 00:00:00
2028-11-10 00:00:00
2028-11-23 00:00:00
2028-12-25 00:00:00
2029-01-01 00:00:00
2029-01-15 00:00:00
2029-02-19 00:00:00
2029-05-28 00:00:00
2029-06-19 00:00:00
2029-07-04 00:00:00
2029-09-03 00:00:00
2029-10-08 00:00:00
2029-11-12 00:00:00
2029-11-22 00:00:00
2029-12-25 00:00:00
2030-01-01 00:00:00
2030-01-21 00:00:00
2030-02-18 00:00:00
2030-05-27 00:00:00
2030-06-19 00:00:00
2030-07-04 00:00:00
2030-09-02 00:00:00
2030-10-14 00:00:00
2030-11-11 00:00:00
2030-11-28 00:00:00
2030-12-25 00:00:00

#### 31. Write a Pandas program to create a monthly time period and display the list of names in the current local scope.

In [41]:
mtp = pd.Period('2021-11','M')
print("Monthly time perid: ",mtp)
print("\nList of names in the current local scope:")
print(dir(mtp))

Monthly time perid:  2021-11

List of names in the current local scope:
['__add__', '__array_priority__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_add_offset', '_add_timedeltalike_scalar', '_dtype', '_from_ordinal', '_maybe_convert_freq', '_require_matching_freq', 'asfreq', 'day', 'day_of_week', 'day_of_year', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'end_time', 'freq', 'freqstr', 'hour', 'is_leap_year', 'minute', 'month', 'now', 'ordinal', 'quarter', 'qyear', 'second', 'start_time', 'strftime', 'to_timestamp', 'week', 'weekday', 'weekofyear', 'year']

#### 32. Write a Pandas program to create a yearly time period from a specified year and display the properties of this period.

In [42]:
ytp = pd.Period('2020','A-DEC')
print("Yearly time perid:",ytp)
print("\nAll the properties of the said period:")
print(dir(ytp))

Yearly time perid: 2020

All the properties of the said period:
['__add__', '__array_priority__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_add_offset', '_add_timedeltalike_scalar', '_dtype', '_from_ordinal', '_maybe_convert_freq', '_require_matching_freq', 'asfreq', 'day', 'day_of_week', 'day_of_year', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'end_time', 'freq', 'freqstr', 'hour', 'is_leap_year', 'minute', 'month', 'now', 'ordinal', 'quarter', 'qyear', 'second', 'start_time', 'strftime', 'to_timestamp', 'week', 'weekday', 'weekofyear', 'year']